<ion-content [fullscreen]="true" class="ion-padding">

    <div class="circle"></div>

    <div class="align-end">
        <ion-icon name="notifications-outline"></ion-icon>
    </div>

    <div class="name-container">
        <p>Olá,</p>
        <p class="name">Villy Oliveira Rosa</p>
    </div>

    <div class="align-center">
        <div class="feedback-card">
            
            <img src="../../assets/icons/like.png" alt="">
    
            <div class="text">
                <h3>Feedback</h3>
                <p>Dê seu feedback para melhorarmos o aplicativo!</p>
            </div>
    
            <ion-icon name="chevron-forward"></ion-icon>
    
        </div>
    </div>

    <main>

        <div class="card area">
            
            <!-- <ion-icon name="map-outline"></ion-icon> COLOCAR ESSE ÍCONE JUNTO DPS -->
            <ion-select placeholder="Selecione a área">
                <ion-select-option value="apples">Norte</ion-select-option>
                <ion-select-option value="oranges">Sul</ion-select-option>
                <ion-select-option value="bananas">Leste</ion-select-option>
                <ion-select-option value="bananas">Oeste</ion-select-option>
            </ion-select>
            
            <div class="legend">
    
                <h2>RISCOS</h2>
    
                <div class="item">
                    <div class="boll green"></div><p>Baixo</p>
                </div>

                <div class="item">
                    <div class="boll yellow"></div><p>Médio</p>
                </div>

                <div class="item">
                    <div class="boll red"></div><p>Alto</p>
                </div>
                
            </div>

            <img style="width: 200px; margin-top: 10px;" src="../../assets/teste-removebg-preview.png" alt="">

        </div>
        
        <div class="card relatorios">
    
            <h2>Relatórios</h2>
            <p>Quantidades de relatórios realizados</p>
    
            <div class="result">
                <h2>56</h2>
            </div>
    
        </div>

        <div class="align-end help">
            <div class="container">
                <ion-icon name="help-circle-outline"></ion-icon>
            </div>
        </div>

    </main>


</ion-content>